@import "nav.css";

.movie {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.release-timeline {
  padding: 0 10vw;
  width: 100%;
  margin: 20px 0 10px;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.movie-container {
  padding: 0 4vw 0 10vw;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie-container::-webkit-scrollbar {
  display: none;
}

.movie-card:hover img {
  transform: scale(1.1);
}

.movie-card {
  flex: 0 0 auto;
  margin: 20px 70px 0px 0;
  width: 100%;
  overflow: hidden;

  width: 250px;
  height: 472px;
}

.movie-card img {
  transition: transform 0.5s ease;
}

.movie-image {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.movie-thumb {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.movie-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #efefef;
}

.movie-info {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.movie-name {
  text-transform: capitalize;
}

.movie-tags {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  margin: 5px 0;
}