.movie-container {
  background: url("https://namanxjha.github.io/Movie-Ticket-Booking-Project/images/Bhediya-CoverBanner.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
  padding: 0 4vw 0 10vw;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.532);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 800px 0px 80px 0px rgba(0, 0, 0, 0.707) inset;
}

.movie-card {
  margin: 0px 0px 0px 16vw;
  width: 100%;
  overflow: hidden;
  width: 250px;
  height: 380px;
}

.movie-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-desc {
  padding: 0vw 4vw 0;
  width: 40%;
  position: relative;
  bottom: 10px;
}

.movie-title {
  display: inline-block;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.movie-desc p {
  margin-top: 10px;
}

.options {
  margin: 60px 0 10px;
  display: flex;
}

.booking {
  margin-top: 20px;
}

#ticketicon{
  transform: rotateZ(-30deg);
}

.wishlist {  
  border: none;
  font-size: 40px;
  color: #cc2f2f;
  background: none;
  margin-top: 20px;
}

.wishlist {
  position: relative;
  display: inline-block;
}

#wishText{
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.732);
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -62px;
}

.wishlist #wishText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.wishlist:hover #wishText {
  visibility: visible;
}

#checkbtn{
  color: rgb(0, 255, 0);
}

.booking {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #cc2f2f;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  text-decoration: none;
}

.booking:hover {
  background: #ff5c5c;
  text-decoration: none;
}

#ticketicon{
  font-size: 22px;
}

.movie-details {
  display: flex;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
  border: 0.5px solid rgb(54 59 61);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: var(--movie-info-div);
}

.desc {
  width: 30%;
  font-size: 18px;
  color: var(--text-color);
}

.movie-details iframe {
  margin: 30px;
  border-radius: 8px;
}

.summary-title {
  margin: 30px auto 20px;
  width: 60%;
  font-size: 30px;
  color: var(--title-color);
}

.summary {
  width: 60%;
  margin: auto;
  font-size: 18px;
}

.cast{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 0.5px solid rgb(54 59 61);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: var(--movie-info-div);
  width: 60%;
  margin: auto;
}

.cast-title{
  color:  var(--text-color);
  font-size: 30px;
  left: 150px;
  padding: 15px 0 0;
  width: auto;
  margin: auto;
}

#casthr{
  background-color: rgb(54 59 61);
  border-style:solid;
  border-top-style: none;
  width: 100%;
  border-width: 1px;
  margin: 20px auto 10px;
}

.castlist{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cast_img{
  margin: 20px;
  border-radius: 16px;
  height: auto;
  width: 180px;
  align-items: center;
}