.movie-container {
  background: url("https://namanxjha.github.io/Movie-Ticket-Booking-Project/images/Bhediya-CoverBanner.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
  padding: 0 4vw 0 10vw;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.movie-card {
  margin: 0px 0px 0px 16vw;
  width: 100%;
  overflow: hidden;
  width: 250px;
  height: 380px;
}

.movie-card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-desc {
  padding: 0vw 4vw 0;
  width: 40%;
  position: relative;
  bottom: 10px;
}

.movie-title {
  display: inline-block;
  width: 100%;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.movie-desc p {
  margin-top: 10px;
}

.options {
  margin-top: 30px;
}

.booking {
  margin-top: 20px;
}

.wishlist {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border: none;
  border-radius: 20px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #f5f5f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.wishlist:hover {
  background: #d4d4d4;
  text-decoration: none;
}

.booking {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background: #cc2f2f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.booking:hover {
  background: #ff5c5c;
  text-decoration: none;
}

.movie-details {
  /* padding-left: 120px; */
  /* border: 1px solid; */
  display: flex;
  width: 60%;
  margin: auto;
  border-radius: 8px;
  /* background-color: #35353593; */
  justify-items: center;
  align-items: center;
  border: 0.5px solid rgb(54 59 61);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: #191B1C;
  /* position: relative; */
}

.desc {
  /* padding: 1vw 0vw 2vw 16vw; */
  width: 30%;
  font-size: 18px;
  color: #BDB7AF;
  /* padding: 60px 0px 0 50px; */
}

.movie-details iframe {
  margin: 30px;
  border-radius: 8px;
}

.summary-title {
  /* padding: 30px 0 20px 150px; */
  margin: 30px auto 20px;
  /* position: relative;  */
 width: 60%;
  /* position: absolute; */
  font-size: 30px;
}

.summary {
  width: 60%;
  margin: auto;
  font-size: 18px;
  /* padding-right: 200px; */
}

.cast{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 0.5px solid rgb(54 59 61);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: #191B1C;
  width: 60%;
  margin: auto;
}

.cast-title{
  color: #BDB7AF;
  font-size: 30px;
  left: 150px;
  padding: 15px 0 0;
  width: auto;
  margin: auto;
}

.castlist{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cast_img{
  margin: 20px;
  border-radius: 16px;
  height: auto;
  width: 180px;
  align-items: center;
}