.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  display: flex;
}

.search-box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  background: none;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

.themeBtn {
  background-color: #4864ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 50px;
  height: 40px;
  width: 110px;
  border-radius: 20px;
}

.themeBtn img {
  width: 25px;
  margin-left: 10px;
}

.location {
  display: flex;
  padding: 0 50px 0 50px;
}

.location i {
  font-size: 22px;
}

.location h3 {
  padding-left: 10px;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 30px;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.link:hover {
  opacity: 1;
}

.wishdropdown{
  position: relative;
  display: inline-block;
}

.wishlistcontent{
  position: absolute;
  visibility: visible;
  display: flex;
  background: var(--movie-info-div);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px;
  width: 350px;
  height: 350px;
  align-items: center;
}

#movieposter img{
  height: 150px;
}

#movietitle{
  font-size: 20px;
  color: var(--text-color);
  padding-left: 30px;
}

.wishdropdown:hover .wishlistcontent{
  visibility: visible;
}