.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background: inherit;
  z-index: 9;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  height: 60px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  display: flex;
}

.search-box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  background: none;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

#theme {
  margin-left: 60px;
  font-size: 28px;
}

#theme:hover {
  cursor: pointer;
}

#themebtn {
  color: inherit;
  border: none;
  background: inherit;
}

.location {
  display: flex;
  padding: 0 50px 0 60px;
}

.location i {
  font-size: 22px;
}

.location h3 {
  padding-left: 10px;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 30px;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: rgb(197 192 184);
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}