body {
  background-color: #242333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin: 0;
}

#seatpagelogo{
  height: 62px;
  position: absolute;
  top: 4%;
  left: 4%;
  margin-left: 15px;
}

.backbtn{
  position: absolute;
  top: 12%;
  left: 5.5%;
  display: flex;
  align-items: center;
}

.backicon{
  font-size: 30px;
}

.backbtn p{
  font-size: 20px;
  display: block;
}

.theatre-container {
  margin: 50px 0 20px;
}

.theatre-container select {
  background-color: white;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: 0;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    color: #777;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.showcase li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase li small{
    font-size: 16px;
    margin-right: 20px;
}

#showcaseSeat{
  color: #fff;
}

#showcaseSelected{
  color: #6feaf6;
}

.container{
    perspective: 1000px;
    margin-bottom: 30px;
}

.screen{
    height: 120px;
    width: 350px;
    background-color: #ffffff;
    margin: 30px auto 80px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 15px rgba(225, 225, 225, 0.7);
}

.seat {
  color: #fff;
}

.fa-solid{
  margin: 10px;
  font-size: 26px;
}

.seat:nth-of-type(6) {
  margin-right: 30px;
}

.seat:nth-last-of-type(6) {
  margin-left: 30px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.1);
}

.selected {
  color: #6feaf6;
}

.occupied {
  color: #444351;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rownum{
  margin-right: 10px;
}

p span{
    color: rgb(0, 255, 0);
}

p.summary{
    margin: 5px auto;
    width: fit-content;
}

.payment {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  cursor: pointer;
  border-radius: 28px;
  border: none;
  margin: 40px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #e31c1c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.payment:hover {
  background: #d13030;
  background-image: -webkit-linear-gradient(top, #d13030);
  background-image: -moz-linear-gradient(top, #d13030);
  background-image: -ms-linear-gradient(top, #d13030);
  background-image: -o-linear-gradient(top, #d13030);
  background-image: linear-gradient(to bottom, #d13030);
  text-decoration: none;
}